{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <meta charset="UTF-8">
    <title>bluebs</title>
</head>
<body>
    <p>bluebs</p>
        {% for post in posts %}
    <h2><a>{{ post.title }}</a></h2>
    <p>{{ post.text }}</p>
        {% endfor %}
</body>
</html>